h1{
    color: coral ;font-family: 'Courier New', Courier, monospace;
}
h2{
    color :skyblue; font-family: 'Courier New', Courier, monospace;
}
p{
   color: lightskyblue;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-image: url('file:///D:/Facultate/Semestru2/Proiect1-TW/imagini/backround-site1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} 
form{
    margin: 20px 50px 60px 100px;
}

img{
    padding:20 px 20px 20px 20px;
    width: 100px;
    height: 100px;
    transition: width 2s, height 4s;
}
  
img:hover {
    width: 280px;
    height: 200px;
  }

  @media only screen and (max-width: 700px) {
    body{
      width: 50%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 480px) {
    body{
      width: 100%;
    }
  }


