body{
    background-image: url('https://i.pinimg.com/originals/6a/28/60/6a2860b03b41c015b9fcef111db051e7.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} 

h1{
    text-align: center;
    color:lightcyan;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

h2{
    color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.read-more{
    color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.some-page-wrapper {
    margin: 50px 15px 15px 15px;
    background-color: transparent;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
.column-child {
    background-color: transparent;
    height: 100px;
  }
  
img{
    width: 180px;
    height: 120px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 3;
  }
  
@keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  @media screen and (max-width: 992px) {
    .column {
      width: 33%;
    }
  }